.caro {
  background-color: hsl(var(--background));
  background-image: linear-gradient(
      hsl(var(--hero-grid)) 1.2px,
      transparent 1.2px
    ),
    linear-gradient(
      to right,
      hsl(var(--hero-grid)) 1.2px,
      hsl(var(--background)) 1.2px
    );
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    hsl(var(--background)) 20%,
    hsl(var(--background)) 80%,
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    hsl(var(--background)) 20%,
    hsl(var(--background)) 80%,
    transparent
  );
}
